<style scoped>
.layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.layout-logo {
    color: darkgray;
    font-weight: bold;
    /* width: 100px; */
    height: 60px;
    background: #5b6270;
    border-radius: 30px;
    float: left;
    position: relative;
    /* top: 15px;
    left: 20px; */
}

.layout-nav {
    width: 100%;
    margin: 0 auto;
}

.layout-command {
    float: right;
}

.layout-footer-center {
    text-align: center;
}

.ivu-layout {
    background-color: white;
}

.ivu-menu-item-selected .ivu-btn {
    /* background-color: darkgreen; */
    height: -webkit-fill-available;
    background-color: white;
    color: black;
    border-bottom: white;
}
</style>

<template>
<div class="layout">
    <Layout>
        <Header :style="{position: 'fixed', width: '100%', zIndex: 100, height: '60px'}">
            <Menu mode="horizontal" theme="dark" active-name="traders" @on-select="selectMenu">
                <div class="layout-logo">_EVOLUTION_</div>
                <div class="layout-nav">
                    <MenuItem name="traders">
                    <Button type="success">Traders</Button>
                    </MenuItem>
                    <MenuItem name="vectors">
                    <Button type="success">Vectors</Button>
                    </MenuItem>
                </div>
                <div class="layout-command">
                    <!-- <Button type="success" @click="start" v-if="settings && settings.status == 0">Start</Button>
                    <Button type="error" @click="stop" v-if="settings && settings.status == 1">Stop</Button> -->
                    <div :style="{color: 'white', display: 'inline'}">Engine:</div>
                    <Switch v-model="engineOn" @on-change="engineChange" size="large">
                        <span slot="open">ON</span>
                        <span slot="close">OFF</span>
                    </Switch>
                </div>
            </Menu>
        </Header>
        <Content :style="{margin: '70px 0px 0', background: '#fff', minHeight: '500px'}">
            <router-view></router-view>
        </Content>
        <Footer class="layout-footer-center">2011-2016 &copy; TalkingData</Footer>
    </Layout>
</div>
</template>

<script>
export default {
    data() {
        return {
            title: "Evolution",
            engineOn: false
        };
    },
    computed: {
        settings() {
            return this.$store.state.settings;
        }
    },
    watch: {
        settings: function(val) {
            this.engineOn = val.status == 1;
        }
    },
    methods: {
        engineChange: function(val) {
            if (val) this.start();
            else this.stop();
        },
        selectMenu(name) {
            this.$router.push(name);
        },
        async refreshSettings() {
            const response = await this.$http.get("/getSettings");
            this.$store.state.settings = response.data;
        },
        async start() {
            await this.$http.post("/start");
            this.refreshSettings();
        },
        async stop() {
            await this.$http.post("/stop");
            this.refreshSettings();
        }
    },
    mounted: function() {
        this.refreshSettings();
    }
};
</script>
