<template>
<v-app>
  <v-toolbar fixed app>
    <v-toolbar-title v-text="title"></v-toolbar-title>
    <v-btn color="primary" @click="refreshTraders">Refresh</v-btn>
    <v-switch v-model="autoRefreshChart"></v-switch>
    <v-btn color="green" @click="start" v-if="settings && settings.status == 0">Start</v-btn>
    <v-btn color="red" @click="stop" v-if="settings && settings.status == 1">Stop</v-btn>
  </v-toolbar>

  <v-content>
    <v-container fluid>

      <v-layout column align-center>
        <p v-text="'Traders: ' + statistics.allTraders + ' (' + statistics.testedTraders + ')'" v-if="statistics"></p>
        <p v-text="'Duration: ' + statistics.startDate + ' - ' + statistics.endDate" v-if="statistics"></p>
        <vue-chart2 type="horizontalBar" :data="tradersData" :options="tradersOptions"></vue-chart2>
      </v-layout>
      <v-layout row>
        <v-flex md2>
          <v-select label="Vector:" v-model="vector" :items="vectors"></v-select>
        </v-flex>
        <v-flex md1>
          <v-btn color="green" @click="addVector">Add</v-btn>
        </v-flex>
        <v-flex md1>
          <v-btn color="red" @click="clearVectors">Clear</v-btn>
        </v-flex>
      </v-layout>
      <v-layout column align-center>
        <vue-chart2 ref="vectorchart" type="line" :data="vectorData" :options="vectorOptions"></vue-chart2>
      </v-layout>

    </v-container>
  </v-content>

  <v-footer fixed app>
    <span>&copy; 2017</span>
  </v-footer>
</v-app>
</template>

<script>
import {
  timer
} from 'vue-timers'

export default {
  data() {
    return {
      title: 'Evolution',
      autoRefreshChart: false,
      settings: null,
      statistics: null,
      tradersData: {
        labels: [],
        datasets: []
      },
      tradersOptions: {
        title: {
          display: true,
          text: 'Top 20 traders',
          fontSize: 14
        },
        scales: {
          yAxes: [{
            stacked: false
            //scaleLabel: {
            //  display: true,
            //  labelString: "traders"
            //}
          }]
        }
      },
      hypotheses: [],
      vector: null,
      vectors: [],
      vectorchart: null,
      vectorData: {
        labels: [],
        datasets: []
      },
      vectorOptions: {
        fill: false,
        responsive: true,
        scales: {
          xAxes: [{}]
        }
      }
    }
  },
  watch: {
    autoRefreshChart: function(val) {
      if (val) {
        this.$timers.add({
          name: 'refreshTimer',
          immediate: true
        })
      } else {
        this.$timers.remove('refreshTimer')
      }
    }
  },
  methods: {
    refreshTimer() {
      this.refreshTraders()
      this.refreshStatistics()
    },
    refreshTraders() {
      this.$http.get('/getTraders').then(response => {
        var labels = []
        var datasets = []
        // var datasets = [{
        //   label: '',
        //   backgroundColor: 'red',
        //   data: []
        // }, {
        //   label: '',
        //   backgroundColor: 'blue',
        //   data: []
        // }]

        var labels = []
        for (var trader of response.body) {
          //labels.push(trader._id)
          //var a = ", " + trader.dns[dns0] + "/" + trader.dns[dns1]
          labels.push(Math.round(trader.result))
        }
        this.tradersData.labels = labels

        var datasets = []
        for (var h of this.hypotheses) {
          var dataset = {
            label: h._id,
            backgroundColor: h.color,
            data: []
          }

          for (var trader of response.body) {
            var weight = trader.dns[h._id] || 0
            //var v = trader.result * (Math.abs(weight) / 10)
            //var v = trader.result * (weight / 10)
            var v = weight
            dataset.data.push(v)
          }

          datasets.push(dataset)
        }
        this.tradersData.datasets = datasets
      }, response => {
        alert(response)
      })
    },
    refreshStatistics() {
      this.$http.get('/getStatistics').then(response => {
        this.statistics = response.body
      }, response => {
        alert(response)
      })
    },
    refreshSettings() {
      this.$http.get('/getSettings').then(response => {
        this.settings = response.body
      }, response => {
        alert(response)
      })
    },
    start() {
      this.$http.post('/start').then(response => {
        this.settings = response.body
      }, response => {
        alert(response)
      })
    },
    stop() {
      this.$http.post('/stop').then(response => {
        this.settings = response.body
      }, response => {
        alert(response)
      })
    },
    refreshDates() {
      this.$http.get('/getVector?id=dates').then(response => {
        this.vectorData.labels = response.body
      })
    },
    refreshVectors() {
      this.$http.get('/getVectors').then(response => {
        this.vectors = response.body
      })
    },
    refreshHypotheses() {
      this.$http.get('/getHypotheses').then(response => {
        this.hypotheses = response.body
      })
    },
    addVector() {
      this.$http.get('/getVector?id=' + this.vector).then(response => {
        var colors = ["red", "green", "blue", 'purple', 'yellow']
        var color = colors[this.vectorData.datasets.length]
        this.vectorData.datasets.push({
          label: this.vector,
          borderColor: color,
          data: response.body
        })
      })
    },
    clearVectors() {
      this.vectorData.datasets = []
    }
  },
  mounted: function() {
    this.refreshSettings()
    this.refreshStatistics()
    this.refreshHypotheses()
    this.refreshTraders()
    this.refreshVectors()
    this.refreshDates()
  }
}
</script>