

<template>
<div>
    <Row>
        <Button type="primary" icon="refresh" @click="refreshTraders">Refresh</Button>
        <Switch v-model="autoRefreshTraders" size="large">
            <span slot="open">ON</span>
            <span slot="close">OFF</span>
        </Switch>
    </Row>
    <Row>
        <p v-text="'Traders: ' + statistics.allTraders + ' (' + statistics.testedTraders + ')'" v-if="statistics"></p>
        <p v-text="'Duration: ' + statistics.startDate + ' - ' + statistics.endDate" v-if="statistics"></p>
        <vue-chart2 type="horizontalBar" :data="tradersData" :options="tradersOptions"></vue-chart2>
    </Row>
</div>
</template>

<script>
export default {
    data() {
        return {
            autoRefreshTraders: false,
            autoRefreshTimer: null,
            tradersData: {
                labels: [],
                datasets: []
            },
            tradersOptions: {
                title: {
                    display: true,
                    text: 'Top 20 traders',
                    fontSize: 14
                },
                scales: {
                    yAxes: [{
                        stacked: false
                        //scaleLabel: {
                        //  display: true,
                        //  labelString: "traders"
                        //}
                    }]
                }
            },
            hypotheses: []
        }
    },
    computed: {
        statistics() {
            return this.$store.state.statistics
        }
    },
    watch: {
        autoRefreshTraders: function(val) {
            if (val) {
                this.autoRefreshTimer = setInterval(this.refreshTimer, 1000);
            } else {
                clearInterval(this.autoRefreshTimer);
            }
        }
    },
    methods: {
        refreshTimer() {
            this.refreshTraders()
            this.refreshStatistics()
        },
        async refreshStatistics() {
            const response = await this.$http.get('/getStatistics')
            this.$store.state.statistics = response.data
        },
        async refreshTraders() {
            const response = await this.$http.get('/getTraders')

            var labels = []
            for (var trader of response.data) {
                //labels.push(trader._id)
                //var a = ", " + trader.dns[dns0] + "/" + trader.dns[dns1]
                labels.push(Math.round(trader.result))
            }
            this.tradersData.labels = labels

            var datasets = []
            for (var h of this.hypotheses) {
                var dataset = {
                    label: h._id,
                    backgroundColor: h.color,
                    data: []
                }

                for (var currtrader of response.data) {
                    var weight = currtrader.dns[h._id] || 0
                    //var v = currtrader.result * (Math.abs(weight) / 10)
                    //var v = currtrader.result * (weight / 10)
                    var v = weight
                    dataset.data.push(v)
                }

                datasets.push(dataset)
            }
            this.tradersData.datasets = datasets
        },
        async refreshHypotheses() {
            const response = await this.$http.get('/getHypotheses')
            this.hypotheses = response.data
        },
    },
    mounted: function() {
        this.refreshStatistics()
        this.refreshTraders()
        this.refreshHypotheses()
    },
    beforeDestroy: function() {
        clearInterval(this.autoRefreshTimer);
    }
}
</script>