

<template>
<div>
    <Form :label-width="80">
        <FormItem label="Vector">
            <Select v-model="vector" style="width:400px" placeholder="">
                <Option v-for="item in vectors" :value="item.value" :key="item.key">{{ item.value }}</Option>
            </Select>
            <Button type="success" @click="addVector">Add</Button>
            <Button type="error" @click="clearVectors">Clear</Button>
        </FormItem>
    </Form>
    <vue-chart2 ref="vectorchart" type="line" :data="vectorData" :options="vectorOptions"></vue-chart2>
</div>
</template>

<script>
export default {
  data() {
    return {
      vector: null,
      vectors: [],
      vectorchart: null,
      vectorData: {
        labels: [],
        datasets: []
      },
      vectorOptions: {
        fill: false,
        responsive: true,
        scales: {
          yAxes: [
            {
              id: 0
              // type: 'logarithmic'
              // ticks: {
              //     min: 1,
              //     max: 5000
              // }
            },
            {
              id: 1
            },
            {
              id: 2
            }
          ]
        }
      }
    };
  },
  methods: {
    async refreshDates() {
      const response = await this.$http.get("/getVector?id=dates");
      this.vectorData.labels = response.data;
    },
    async refreshVectors() {
      const response = await this.$http.get("/getVectors");
      this.vectors = response.data;
    },
    async addVector() {
      const response = await this.$http.get("/getVector?id=" + this.vector);
      var colors = ["red", "green", "blue", "purple", "yellow"];
      var color = colors[this.vectorData.datasets.length];
      this.vectorData.datasets.push({
        label: this.vector,
        borderColor: color,
        data: response.data,
        yAxisID: this.vectorData.datasets.length
      });
    },
    clearVectors() {
      this.vectorData.datasets = [];
    }
  },
  mounted: function() {
    this.refreshVectors();
    this.refreshDates();
  }
};
</script>